/* FindQuestion.css */

.find-question {
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter h5,
  .new-question h5 {
    margin: 0 10px 0 0;
    font-size: 16px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003f80;
    transform: translateY(2px);
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    height: auto;
  }
  
  .card:hover {
    transform: translateY(-3px);
    background-color: rgb(172, 179, 213);
  }
  
  .card h2 {
    font-size: 20px;
    margin: 0;
  }
  
  .card p {
    font-size: 16px;
    margin: 8px 0;
  }
  
  .card button {
    background-color: #359cdc;
    margin-right: 10px;
  }
  
  .card button:hover {
    background-color: #073f73;
  }
  
  .card button:active {
    background-color: #5ecbef;
    transform: translateY(2px);
  }
  
  .card .expand-button {
    background-color: #28a745;
  }
  
  .card .expand-button:hover {
    background-color: #218838;
  }
  
  .card .expand-button:active {
    background-color: #1e7e34;
    transform: translateY(2px);
  }
  
  .new-question {
    margin: 20px 0;
  }
  
  .new-question input[type="text"] {
    width: 100%;
    font-size: 16px;
  }
  
  .new-question button {
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
  }
  
  .new-question button:hover {
    background-color: #218838;
  }
  
  .new-question button:active {
    background-color: #1e7e34;
    transform: translateY(2px);
  }